<?xml version="1.0" encoding="utf-8" ?>
<RankOneSettings>
  <Summaries>
    <Summary Name="Template" Alias="templateanalyzer">
      <Analyzers>
        <Analyzer Alias="deprecatedtaganalyzer" Type="RankOne.Analyzers.Template.DeprecatedTagAnalyzer" />
        <Analyzer Alias="imagetaganalyzer" Type="RankOne.Analyzers.Template.ImageTagAnalyzer" />
        <Analyzer Alias="metadescriptionanalyzer" Type="RankOne.Analyzers.Template.MetaDescriptionAnalyzer" />
        <Analyzer Alias="metakeywordanalyzer" Type="RankOne.Analyzers.Template.MetaKeywordAnalyzer" />
        <Analyzer Alias="metarobotsanalyzer" Type="RankOne.Analyzers.Template.MetaRobotsAnalyzer" />
        <Analyzer Alias="titleanalyzer" Type="RankOne.Analyzers.Template.TitleAnalyzer" />
      </Analyzers>
    </Summary>
    <Summary Name="Keywords" Alias="keywordanalyzer" Type="RankOne.Summaries.KeywordsSummary">
      <Analyzers>
        <Analyzer Alias="keywordcontentanalyzer" Type="RankOne.Analyzers.Keywords.KeywordContentAnalyzer" />
        <Analyzer Alias="keywordheadinganalyzer" Type="RankOne.Analyzers.Keywords.KeywordHeadingAnalyzer" />
        <Analyzer Alias="keywordmetadescriptionanalyzer" Type="RankOne.Analyzers.Keywords.KeywordMetaDescriptionAnalyzer" />
        <Analyzer Alias="keywordtitleanalyzer" Type="RankOne.Analyzers.Keywords.KeywordTitleAnalyzer" />
        <Analyzer Alias="keywordurlanalyzer" Type="RankOne.Analyzers.Keywords.KeywordUrlAnalyzer" />
      </Analyzers>
    </Summary>
    <Summary Name="Performance" Alias="performanceanalyzer">
      <Analyzers>
        <Analyzer Alias="additionalcallanalyzer" Type="RankOne.Analyzers.Performance.AdditionalCallAnalyzer" />
        <Analyzer Alias="cssminificationanalyzer" Type="RankOne.Analyzers.Performance.CssMinificationAnalyzer" />
        <Analyzer Alias="gzipanalyzer" Type="RankOne.Analyzers.Performance.GZipAnalyzer" />
        <Analyzer Alias="htmlsizeanalyzer" Type="RankOne.Analyzers.Performance.HtmlSizeAnalyzer">
          <Options>
            <!-- Maximum page size 33 kb -->
            <Option Key="MaximumSizeInBytes" Value="33792" />  
          </Options>
        </Analyzer>
        <Analyzer Alias="javascriptminificationanalyzer" Type="RankOne.Analyzers.Performance.JavascriptMinificationAnalyzer" />
      </Analyzers>
    </Summary>
  </Summaries>
</RankOneSettings>