Thumbs.db
ehthumbs.db

_ReSharper.*
[Bb]in/
[Oo]bj/
*.suo
*.user
*.userprefs
*.cache
*.orig
Thumbs.db
.DS_Store
*.log

artifacts/
src/packages/*/**
build/App_plugins/
build/bin/
assets/
dist/
node_modules/
tmp/

[Dd]ebug/
[Bb]uild/
[Rr]elease/
[Bb]in/
[Oo]bj/
[Pp]ackages/
VersionInfo.cs