@inherits Umbraco.Web.Mvc.UmbracoTemplatePage

<title>@CurrentPage._seoTitle</title>
<meta name="description" content="@CurrentPage._seoMetaDescription">
<meta name="keywords" content="@CurrentPage._seoMetaKeywords">