@import url('http://netdna.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.css');


.accordion {
    width: 100%;
    margin: 0 auto;
    background: #fff;
    transform: translateZ(0);
    box-shadow: 0 1px 1px rgba(0,0,0,.1);
}

    .accordion label {
        position: relative;
        display: block;
        height: 50px;
        line-height: 50px;
        padding: 0 20px;
        font-size: 14px;
        font-weight: 700;
        border-top: 1px solid #ddd;
        background: #fff;
        cursor: pointer;
    }

        .accordion label[for*='1'] {
            border: 0;
        }

        .accordion label:after {
            content: '\f078';
            position: absolute;
            top: 0px;
            right: 20px;
            font-family: fontawesome;
            transform: rotate(90deg);
            transition: .3s transform;
        }

        .accordion label.expanded:after {
            transform: rotate(0deg);
        }



.error-badge {
    background-color: #dd2222;
}

.warning-badge {
    background-color: #dd9d22;
}

.hint-badge {
    background-color: #04bfbf;
}

.succes-badge {
    background-color: #4db53c;
}


.information {
    color: #31708f;
    background-color: #d9edf7;
    border-color: #bce8f1;
    border: 1px solid transparent;
    border-radius: 4px;
    padding: 10px;
    margin-bottom: 10px;
}

.information .icon-container {
    font-size: 60px;
    top: -50px;
    position: relative;
    margin: auto;
    height: 80px;
    width: 80px;
    border-radius: 50%;
    background-color: #FFFFFF;
    vertical-align: middle;
    line-height: 80px;
    border: 8px solid #d9edf7;
}

.information span {
    position: relative;
    top: -40px;
}

.information .icon-container i {
    padding-left: 10px;
}

.expander section {
    padding: 0 30px;
}