<div id="rankOne" ng-controller="rankOneSiteDashboard" class="rank-one rank-one-dashboard">

    <umb-load-indicator ng-show="loading"></umb-load-indicator>

    <div ng-show="error">
        {{error}}
    </div>

    <div class="installer" ng-show="!loading && !initialized">

        <div class="installer-top">
            <i class="icon icon-bar-chart"></i>
            <h3><localize key="sitedashboard_title"></localize></h3>
        </div>

        <div class="step-one" ng-hide="state">

            <p>
                <localize key="sitedashboard_description"></localize>
            </p>

            <button ng-click="initialize()" class="btn publish btn-install"><localize key="sitedashboard_initialize"></localize></button>
        </div>
    </div>

    <div ng-show="!loading && !error && initialized && pageHierarchy">

        <div id="score"></div>
        <div class="summary clearfix">
            <p>
                <div ng-bind-html="intro_text"></div>
            </p>
            <button ng-click="refresh()" class="btn btn-primary refresh"><localize key="sitedashboard_refresh"></localize></button>
        </div>

        <div class="dashboard-row-container">
            <dashboardrow row="page" level="1" ng-repeat="page in pageHierarchy" />
        </div>
    </div>
</div>