<div id="rankOneSettings" class="umb-panel" ng-controller="rankOneSettings">

    <umb-load-indicator ng-show="loading"></umb-load-indicator>

    <div ng-show="!loading">
        <div class="umb-panel-header">
        </div>
        <div class="umb-panel-body no-header with-footer">

            <div class="tab-content umb-control-group">
                <h1><localize key="settings_title"></localize></h1>
                <p>
                    <localize key="settings_description"></localize>
                </p>

                <div class="umb-loader-wrapper">
                    <div class="umb-loader" ng-show="saving"></div>
                </div>

                <div class="control-group umb-control-group">
                    <div class="umb-el-wrap">
                        <label class="control-label ng-binding">
                            <localize key="settings_focus_keyword"></localize>
                        </label>
                        <div class="controls">
                            <div class="umb-property-editor">
                                <input type="text" name="textbox" class="umb-editor umb-textstring textstring" ng-model="dialogData.configuration.focusKeyword" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="umb-panel-footer">
            <div class="umb-el-wrap umb-panel-buttons">
                <div class="btn-toolbar umb-btn-toolbar pull-right">
                    <a href ng-click="close()" class="btn btn-link">
                        <localize key="settings_cancel"></localize>
                    </a>

                    <a href class="btn btn-primary" ng-click="save()">
                        <localize key="settings_save"></localize>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>