<div id="rankOne" ng-controller="rankOneSummary">

    <div ng-show="loading">
        <localize key="summary_loading"></localize>
    </div>

    <div ng-show="error">
        {{error}}
    </div>

    <div ng-show="!loading && !error">
        <div ng-repeat="analyzerResult in analyzeResults.AnalyzerResults | typeFilter:model.config.typeSelection | analyzerFilter:model.config.analyzerSelection">
            <h4><localize key="{{analyzerResult.Title}}"></localize></h4>
            <div ng-repeat="result in analyzerResult.Analysis.Results | typeFilter:model.config.typeSelection | analyzerFilter:model.config.analyzerSelection">
                <strong><localize key="{{result.Title}}"></localize></strong>
                <resultline resultline="resultLine" ng-repeat="resultLine in result.ResultRules | typeFilter:model.config.typeSelection | orderBy:sortOrder"></resultline>
            </div>
        </div>
    </div>
</div>
